extends layout

block content
    h1= title                                                   
    #addEmployee
        a(href="/employee/new")!= "Add New Employee"
    #employees
        - each employee in employees
          div.employee            
            div.title= employee.title + ' ' + employee.name + ' ' + employee.created_at               
                form( method="post", action="/employee/:id/delete" class="form") 
                        input(name="_id", type="hidden", value=employee._id.toHexString()) 
                        input(id="delete", value="Delete", type="submit")                         
                 form( method="get", action="/employee/:id/edit" class="form") 
                        input(name="_id", type="hidden", value=employee._id.toHexString()) 
                        input(id="edit", value="Edit", type="submit")
        